<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/style1.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partial_view/nav.ejs %>
    <h1>welcome to node project</h1>
    <p1>hi guys</p1>
  </body>
</html>
